.DS_Store
kinectExample.xcodeproj/project.xcworkspace/xcuserdata/hector-garcia.xcuserdatad
kinectExample.xcodeproj/xcuserdata/hector-garcia.xcuserdatad
kinectExample.xcodeproj/project.xcworkspace/xcuserdata/hector-garcia.xcuserdatad/UserInterfaceState.xcuserstate
kinectExample.xcodeproj/project.xcworkspace/*
kinectExample.xcodeproj/*
